html, body {
    height: 100%;
}

body {
    background-color: #b7e9ff;
}

.UserCard p {
    padding-top: 32px;
    padding-left: 32px;
}

.CardsList > div {
    margin: 20px 20px 0px 20px;
}

hr {
    border: none;
    height: 1px;
    background-color: #dadada;
}

.WishCard-Search {
    float: right;
}

.WishCard {
    margin: 20px 20px;
    padding: 20px;
    clear: both;
}

.Card {
    padding: 20px;
}

.WishCard h3 {
    margin-top: 0;
}

.progress {
    width: 100%;
    text-align: center;
}

.page {
    position: absolute;
    top: 64;
    /*zIndex: -1000;*/
    width: 100%;
    overflow-y: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.WishCard .WishCard-Content {
}

.WishCard .WishCard-Content-Image {
    float: right;
    max-width: 300px;
}

.WishCard .WishCard-Content-Image img {
    width: 100%;
}

.wish-enter {
    transform: translate(100%);
}

.wish-enter-active {
    transform: translate(0%);
    transition: transform 400ms ease-in-out;
    /*transition-delay: 400ms;*/
}

.wish-leave {
    transform: translate(0%);
}

.wish-leave.wish-leave-active {
    transform: translate(-100%);
    transition: transform 400ms ease-in-out;
}

.add-wish {
    margin-right: 10px;
    float: right;
}

.edit-page-title {
    color: white;
}
