html, body{
    background-color: #b7e9ff;
    height: 100%;
}

.UserCard p {
    padding-top: 32px;
    padding-left: 32px;
}

.CardsList > div {
  margin-top: 20px;
}

hr {
  border: none;
  height: 1px;
  background-color: #dadada;
}

.WishCard {
  padding: 20px;
}

.WishCard h3 {
    margin-top: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.WishCard .WishCard-Content {
}

.WishCard .WishCard-Content-Image {
      float: right;
      max-width: 300px;
}

.WishCard .WishCard-Content-Image img {
      width: 100%;
}

.WishCard {
  clear: both;
}


.example-enter {
    opacity: 0.01;
    transition: opacity left 500000ms linear;
}

.example-enter-active {
    opacity: 1;
}
.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}

.add-wish {
      float: right;
}
.edit-page-title{
      color: white;
}
