.loginButton {
    margin-top: 1em !important;
}

body {
    margin: 0px;
}

.card {
    /*min-width: 20em;*/
    /*max-width: 30em;*/
}

.wishCardImg {
    width:100% !important;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wishCardContainer {
    display: flex;
    padding: 2em 2em 0.35em 2em;
}

.imageGridItem {
    text-align: center;
}

.editPageButtons {
    position: fixed !important;
    left: 1em;
}

.editButtons {
    margin: 0.6em !important;
}

.cardDiv {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 16px;
    font-size: 14px;
}

.wishTextContainer {
    height: 100%;
}

.wishCardItem {
    width: 100%;
}

.appBarTitle {
    flex: 1;
}

.searchButton {
    height: 1em;
}