.loginButton {
    margin-top: 1em !important;
}

body {
    margin: 0px;
}

.card {
    min-width: 20em;
    max-width: 30em;
}

.wishCardMedia {
    height: 15em;
    width: 15em;
}

.wishCard {
    display: flex;
}

.cardDiv {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 16px;
    font-size: 14px;
}